html * {
  font-family: 'Fira Sans', serif;
  font-size: 14px;
  color: #848484;
}

@media (max-width: 500px) {
  html * {
    font-size: 10px;
  }
}

strong {
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin: 12px 0;
}

h1 {
  font-size: 20px;
}

h2, h3 {
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  color: #615c5e;
  text-transform: uppercase;
  margin-bottom: 15px;
}

button[type="button"] {
  display: inline-block;
  color: #615c5e;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  width: 60%;
  padding: 1em 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.3s;
  background-color: #ffffff;
}

button[type="button"]:hover {
  background-color: #00c8c8;
  color: #ffffff;
}

[href] {
  text-decoration: none;
}

[href]:hover {
  color: #00c8c8;
}

.svg-arrow {
  width: 10px;
  fill: #848484;
}

.svg-cart {
  width: 18px;
  fill: #ffffff;
}

.svg-find {
  width: 10px;
  fill: #9d9d9d;
}
