@media (max-width: 600px) {
  .Header-up, .Header-down-main, .Main-address {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 10px;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .Header-down-main {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .Footer-up-container {
    width: 100%;
    margin-left: 5px;
  }
}

@media (max-width: 450px) {
  h2, h3 {
    font-size: 20px;
  }
}
