.Main-img
  background-image:  url("../img/500.jpeg")
  background-size: cover
  &-h2h3
    width: 100%
    height: 400px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    line-height: 50px
    letter-spacing: 2px
.Local
  color: #fff
  font-size: inherit
  font-weight: 600
.Main-card
  display: flex
  justify-content: center
  margin-top: 40px
  &-art1
    display: flex
    flex-direction: column
article
  width: 20%
  & a
    text-transform: uppercase
    font-weight: 600
  & p
    color: #b2b0b0
    line-height: 18px
iframe
  width: 100%
  height: 600px
  filter: grayscale(100%)
  transition: 1s
  &:hover
    filter: grayscale(0%)
.Main-address
  display: grid
  grid-template-columns: 7fr 3fr
  width: 100%
  height: 600px
  margin-top: 50px
  margin-bottom: 140px
  &-info
    height: inherit
    background-color: #f8f8f8
    &-div
      padding: 40px
      & p
        color: #b2b0b0
        line-height: 20px
      & a
        text-transform: uppercase
        font-weight: 600

.moreinfo
  display: flex
  & i
    display: flex
    align-items: center
    padding-right: 10px
.social-ico
  margin-top: 45px
  button
    border-radius: 50%
    width: 35px
    height: 35px
    box-shadow: 0 3px 20px rgba(0,0,0,.25)
    border: 0px
    background-color: #727272
    margin-right: 15px
    transition: 1s  
    &:hover
      background-color: #00c8c8
  @media(max-width: 1000px)
    position: absolute
    left: 0
  i
    color: #ffffff
